<app-header></app-header>
<div class="container" style="margin-top:60px;">
  <img src="../assets/0.jpg" class="img-circle" alt="Imagen" id="imagen"/>
  <div class="panel panel-default">
      <div class="panel-heading">
          <h3 class="panel-title"><strong>Mateo Peláez Marín - Estudiante de ingeniería de sistemas. </strong></h3>
      </div>
      <div class="panel-body">
          <div class="row" id="basic">
              <div class="col-md-3">
                  <h5><strong>Nombre :</strong> </h5>
                  <span>Mateo </span>
              </div>
              <div class="col-md-3">
                  <h5><strong>Apellidos :</strong></h5>
                  <span>Peláez Marín</span>
              </div>
              <div class="col-md-3">
                      <h5><strong>Profesión :</strong></h5>
                      <span>Estudiante ing sistemas</span>
              </div>
              <div class="col-md-3">
                  <h5><strong>Dirección :</strong> </h5>
                  <span>Carrera 36b numero 22-53 marinilla</span>
              </div>
          </div>
          <div class="row">
              <div class="col-md-3">
                  <h5><strong>barrio - sector :</strong></h5>
                  <span>San Juan de Dios</span>
              </div>
              <div class="col-md-3">
                  <h5><strong>Fecha de nacimiento :</strong> </h5>
                  <span>1998/07/25</span>
              </div>
              <div class="col-md-3">
                  <h5><strong>Telefono:</strong> </h5>
                  <span>5480544</span>
              </div>
              <div class="col-md-3">
                  <h5><strong>Celular</strong> </h5>
                  <span>3128643048</span>
              </div>
          </div>
      </div>
  </div>
  <div class="panel panel-default" >
      <div class="panel-heading" id="academico">
          <h2 class="panel-title"><strong>Datos Academicos </strong></h2>
      </div>
      <div class="panel-body">
          <div class="row">
              <div class="col-md-3">
                  <h5><strong>Nombre universidad :</strong> </h5>
                  <span>Universidad catolica de Oriente</span>
              </div>
              <div class="col-md-3">
                  <h5><strong>Carrera :</strong> </h5>
                  <span>Ingeniería de sistemas.</span>
              </div>
              <div class="col-md-3">
                  <h5><strong>Fecha de inicio :</strong> </h5>
                  <span>2015-01 </span>
              </div>
              <div class="col-md-3">
                  <h5><strong>Fecha final :</strong> </h5>
                  <span>2021-01</span> 
              </div>
          </div>
      </div>
  </div>
  <div class="panel panel-default">
      <div class="panel-heading">
          <h2 class="panel-title"><strong>Descripción de personalidad:  </strong></h2>
      </div>
      <div class="panel-body">
          <div class="row">
              <div class="col-md-12">
                  <span>Soy una persona apasionada en lo que hago,  con muy buenos valores y adaptable fácilmente al cambio; siempre dispuesto aprender más
                     y enfocado en dar lo mejor de mi buscando ser cada día una mejor persona y un excelente profesional.</span>
              </div>
          </div>
      </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title"><strong>Gustos:  </strong></h2>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3">
                <h5><strong>- Investigación </strong> </h5>
            </div>
            <div class="col-md-3">
              <h5><strong>- Futbol </strong> </h5>
            </div>
            <div class="col-md-3">
              <h5><strong>- Cerveza </strong> </h5>
            </div>
            <div class="col-md-3">
              <h5><strong>- Arquitectura </strong> </h5>
            </div>
        </div>
    </div>
  </div> 
</div>
<app-footer></app-footer>